@model PMS.ViewModels.ProductVM

<div class="container">
    <h1 class="well">Upsert Product</h1>
    <div class="col-lg-12 well">
        @using (Html.BeginForm("Upsert", "Inventory", method: FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input id="hdnProductId" type="hidden" value="@Model.Id" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <hr />
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Product Name</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-3">
                    <label>No Of Items</label>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="form-group col-md-3">
                    <label>Total Price</label>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="form-group col-md-3">
                    <label>Transportation Amount</label>
                    @Html.EditorFor(model => model.TransportationAmount, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Is GST Order</label>
                    @Html.EditorFor(model => model.IsGstOrder, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-4">
                    <label>Gst Amount</label>
                    @Html.EditorFor(model => model.GstAmount, new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <div class="form-group col-md-4">
                    <label>Other Amount</label>
                    @Html.EditorFor(model => model.OtherAmount, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>City</label>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })

                </div>

                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    @Html.DropDownListFor(x => x.State, new[] {
                        new SelectListItem() {Text = "Gujrat", Value = "GJ"},
                        new SelectListItem() {Text = "Delhi", Value = "DL"},
                        new SelectListItem() {Text = "Punjab", Value = "PB"},
                        new SelectListItem() {Text = "Haryana", Value = "HR"},
                        new SelectListItem() {Text = "Uttar Pradesh", Value = "UP"},
                        new SelectListItem() {Text = "West Bengal", Value = "WB"}
                    }, "Select State", new { @class = "form-control" })

                </div>
                <div class="form-group col-md-4">
                    <label>Category</label>
                    @Html.DropDownListFor(x => x.ProductCategoryId, new SelectList(ViewBag.ProductCategories, "Id", "Name"), "Select Category", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Description</label>
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @row = 3 })

                </div>
                <div class="form-group col-md-6">
                    <label>Address</label>
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @row = 3 })

                </div>
            </div>
            <div class="form-row">
                @{
                    Html.RenderPartial("_ProductSpecifications", @Model.ProductSpecification);
                }
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Save
                </button>
                <a class="btn btn-light" href="/Inventory/Index">Cancel</a>

            </div>
        }
    </div>

    <div id='orderModal' class='modal'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id='orderContainer'></div>
                <div class="col-lg-12 well" id='orderList'>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
